@import url(style.css);

.box{
    display: flex;
    justify-content: center;
}
.botones__boton{
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    margin: 10px;
    transition: 0.5s ease;
}
.botones{
    width: 200px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.botones__boton:hover{
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
.botones__cuadrado{
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 7px solid var(--color--blanco);
    transition: 0.5s ease;
    background-color: var(--color--negro);
}
.botones__color--verde{
    background-color: var(--color--verde);
}
.botones__color--azul{
    background-color: var(--color--azul);
}
.botones__color--amarillo{
    background-color: var(--color--amarilla);
}
.botones__color--vinotinto{
    background-color: var(--color--vinotinto);
}
.botones__imagen--patito{
    background-image: url(../imagenes/animador1.png);
}
.botones__boton:hover ~ .botones__imagen--patito{
    background-image: url(../imagenes/animador1.gif);
}
.botones__imagen--mona{
    background-image: url(../imagenes/animador3.png);
}
.botones__boton:hover ~ .botones__imagen--mona{
    background-image: url(../imagenes/animador3.gif);
}
.botones__imagen--excalibur{
    background-image: url(../imagenes/animador2.png);
}
.botones__boton:hover ~ .botones__imagen--excalibur{
    background-image: url(../imagenes/animador2.gif);
}
.botones__imagen--charmander{
    background-image: url(../imagenes/animador4.png);
}
.botones__boton:hover ~ .botones__imagen--charmander{
    background-image: url(../imagenes/animador4.gif);
}