*{
    margin: 0 auto;
}
:root{
    --color1: rgb(44, 72, 164);
    --color2:  rgb(255, 255, 255);
    --color3:  rgb(44, 23, 118);
}
body {
    margin: 0;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
}
.componente{
    margin: 0 10px;
    width: 200px;
    display: inline-block;
    background-color: var(--color1);
    padding: 15px;
    border: solid 3px var(--color3);
    text-align: center;
    text-decoration: none;
    color: var(--color2);
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.componente:hover{
    background-color: var(--color2);
    color: var(--color1);
    border: solid 3px var(--color1);
}
.seleccion{
    padding: 0px;
    align-content: center;
    text-align: center;
}
.switch {
    --false: #E81B1B;
    --true: #009068;
   }
   
   input[type=checkbox] {
    appearance: none;
    height: 2rem;
    width: 3.5rem;
    background-color: #fff;
    position: relative;
    border-radius: .2em;
    cursor: pointer;
   }
   
   input[type=checkbox]::before {
    content: '';
    display: block;
    height: 1.9em;
    width: 1.9em;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1.9em/2 + .3em);
    background-color: var(--false);
    border-radius: .2em;
    transition: .3s ease;
   }
   
   input[type=checkbox]:checked::before {
    background-color: var(--true);
    left: calc(100% - (1.9em/2 + .3em));
   }
.orden{
    background-color: var(--color1);
    margin-top: 30px;
    width: 300px;
    display:block;
    border: solid 3px var(--color3);
    font-size: 20px;
    text-align: center;
    color: var(--color2);
}
.switch2 {
    --false: black;
    --true: black;
}
.switch3 {
    --false: crimson;
    --true: white;
}
.switch4 {
    --false: white;
    --true: steelblue;
}


