* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: rgb(106, 111, 155);
    --color2: rgb(255, 255, 255);
    --color3: rgb(26, 17, 58);
    

}
.card.blue { background: #3498db; }
.card.red { background: #e74c3c; }
.card.green { background: #2ecc71; }
.card.purple { background: #9b59b6; }

.componente {
    margin: 0 10px;
    width: 200px;
    display: inline-block;
    background-color: var(--color1);
    padding: 15px;
    border: solid 3px var(--color3);
    text-align: center;
    text-decoration: none;
    color: var(--color2);
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.componente:hover {
    background-color: var(--color2);
    color: var(--color1);
    border: solid 3px var(--color1);
}

.seleccion {
    padding: 0px;
    align-content: center;
    text-align: center;
}

.card {
    margin: 50px;
    width: 190px;
    height: 254px;
    border-radius: 15px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 4px var(--color3);
}

.card .card-border-top {
    width: 60%;
    height: 3%;
    background: var(--color3);
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.card span {
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
}

.card .job {
    font-weight: 400;
    font-size: 12px;
    padding-top: 3px;
}

.card .img {
    width: 70px;
    height: 80px;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
}
.card.blue .img{
    background-image: url(pers1.jpg);
    background-size: cover;
}
.card.red .img{
    background-image: url(pers1.jpg);
    background-size: cover;
}
.card.green .img{
    background-image: url(pers1.jpg);
    background-size: cover;
}
.card.purple .img{
    background-image: url(pers1.jpg);
    background-size: cover;
}
.card button {
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: var(--color3);
    color: var(--color2);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background: var(--color2);
    color: var(--color3);
}


.orden {
    margin: 50px;
    display: inline-flex;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
}
