@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --color1: rgb(25, 41, 227);
  --color2:  rgb(233, 165, 6);
  --color3:  rgba(255, 0, 128);
  --color4 : rgb(80, 205, 34);
  --color0 : rgb(255, 255, 255);
}
body {
  font-family: "Roboto Condensed", sans-serif;
}

.boton {
  width: 150px;
  background-color: #ce4dfd;
  padding: 12px;
  border: solid 1px #ce4dfd;
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.boton:hover {
  background-color: #fff;
  color: #ce4dfd;
  border: solid 1px #ce4dfd;
}
.boton--border {
  border: solid 1px #ce4dfd;
  background-color: #fff;
  color: #ce4dfd;
}
.boton__texto {
  /* color: #fff; */
}
.boton__icono {
  /* color: #fff; */
}

.boton1{
  width: 250px;
  background-color: var(--color1);
  padding: 12px;
  border: solid 3px var(--color1);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton1:hover {
  background-color: var(--color0);
  color: var(--color1);
  border: solid 3px var(--color1);
}
.boton1--border {
  border: solid 3px var(--color1);
  background-color: var(--color0);
  color: var(--color1);
}
.boton2{
  width: 250px;
  background-color: var(--color0);
  padding: 12px;
  border: solid 3px var(--color1);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton2:hover {
  background-color: var(--color1);
  color: var(--color0);
  border: solid 3px var(--color1);
}
.boton2--border {
  border: solid 3px var(--color2);;
  background-color: var(--color0);;
  color: var(--color2);
}
.boton3{
  width: 250px;
  background-color: var(--color2);
  padding: 12px;
  border: solid 3px var(--color2);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton3:hover {
  background-color: var(--color0);
  color: var(--color2);
  border: solid 3px var(--color2);
}
.boton3--border {
  border: solid 3px var(--color2);;
  background-color: var(--color0);
  color: var(--color2);
}
.boton4{
  width: 250px;
  background-color: var(--color0);
  padding: 12px;
  border: solid 3px var(--color2);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton4:hover {
  background-color: var(--color2);
  color: var(--color0);
  border: solid 3px var(--color2);
}
.boton4--border {
  border: solid 3px var(--color2);;
  background-color: var(--color2);
  color: var(--color0);
}
.boton5{
  width: 250px;
  background-color: var(--color3);
  padding: 12px;
  border: solid 3px var(--color3);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton5:hover {
  background-color: var(--color0);
  color: var(--color3);
  border: solid 3px var(--color3);
}
.boton5--border {
  border: solid 3px var(--color3);
  background-color: var(--color0);
  color: var(--color3);
}
.boton6{
  width: 250px;
  background-color: var(--color0);
  padding: 12px;
  border: solid 3px var(--color3);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton6:hover {
  background-color: var(--color3);
  color: var(--color0);
  border: solid 3px var(--color3);
}
.boton6--border {
  border: solid 3px var(--color3);
  background-color: var(--color0);
  color: var(--color3);
}
.boton7{
  width: 250px;
  background-color: var(--color4);
  padding: 12px;
  border: solid 3px var(--color4);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton7:hover {
  background-color: var(--color0);
  color: var(--color4);
  border: solid 3px var(--color4);
}
.boton7--border {
  border: solid 3px var(--color4);;
  background-color: var(--color0);
  color: var(--color4);
}
.boton8{
  width: 250px;
  background-color: var(--color0);
  padding: 12px;
  border: solid 3px var(--color4);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--color4);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton8:hover {
  background-color: var(--color4);
  color: var(--color0);
  border: solid 3px var(--color4);
}
.boton8--border {
  border: solid 3px var(--color4);;
  background-color: var(--color4);
  color: var(--color0);
}
.orden{
  text-align: center;
}
.titulo{
  text-decoration-line: underline overline;
  font-size: 64px;
  color: red;
}
.lista--item{
  width: 400px;
  background-color: aquamarine;
  padding: 12px;
}
.lista--texto{
  border: solid 3px rgb(45, 104, 48);
}
.lista--icono{

}